<div class="service2">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12 col-lg-6">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-8 col-md-8 col-lg-12 col-xl-9">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body pl-5 pr-5 text-center">
                                <div class="mb-md-5 mt-md-4">
                                    <h2 class="fw-bold mb-2 text-uppercase">Review Your Order</h2>
                                    <br>
                                    <div class="form-group">
                                        <label for="orderId">Order ID</label>
                                        <input class="form-control form-control-md" pattern="[0-9]" type="textbox" placeholder="Order ID" id="orderId"
                                            required>
                                        <br>
                                        <label for="orderRankingNumber">Rating</label>
                                        <select class="form-control" id="orderRankingNumber" required>
                                            <option value="0">0/5</option>
                                            <option value="1">1/5</option>
                                            <option value="2">2/5</option>
                                            <option value="3">3/5</option>
                                            <option value="4">4/5</option>
                                            <option value="5">5/5</option>
                                        </select>
                                        <br>
                                        <label for="orderReviewTxt">Review</label>
                                        <input class="form-control form-control-md" maxlength="200" type="textbox" id="orderReviewTxt"
                                            placeholder="Enter a review here" required></input>
                                    </div>

                                    <br>
                                    <button class="btn btn-outline-light btn-lg px-5" ng-click="insertOrderReview()">Submit
                                        Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-8 col-md-8 col-lg-12 col-xl-9">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body pl-5 pr-5 text-center">
                                <div class="mb-md-5 mt-md-4">
                                    <h2 class="fw-bold mb-2 text-uppercase">Review Your Items</h2>
                                    <br>
                                    <div class="form-group">
                                        <label for="itemName">Select Item</label>
                                        <select class="form-control" ng-init="setOptions()" id="itemName" required></select>
                                        <br>
                                        <label for="rankingNumber">Rating</label>
                                        <select class="form-control" id="rankingNumber" required>
                                            <option value="0">0/5</option>
                                            <option value="1">1/5</option>
                                            <option value="2">2/5</option>
                                            <option value="3">3/5</option>
                                            <option value="4">4/5</option>
                                            <option value="5">5/5</option>
                                        </select>
                                        <br>
                                        <label for="reviewTxt">Review</label>
                                        <input class="form-control form-control-md" maxlength="200" type="textbox" placeholder="Enter a review here"
                                        id="reviewTxt" required></input>
                                    </div>
                                    <br>
                                    <button class="btn btn-outline-light btn-lg px-5" ng-click="insertReview()">Submit
                                        Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service1">
    <div class="container">
        <div class="row d_flex">
            <div id="reviewList" ng-init="drawReviewTable()">
                <span class="section_title"> Reviews </span>
            </div>
        </div>
        <div id="reviewMsg"></div>
    </div>
</div>