<div class="container text-center">
    <h4 style="padding-top: 40px;">Select</h4>
    <label class="form-label" for="user" style="text-decoration: underline;">User</label>
    <br>
    <div class="form-check form-check-lg form-check-inline">
             <form>
                 <label class="form-check-label" for="user_id" >User_Id</label>
                 <input class="form-check-input" type="checkbox" name="user" id="user_id" value="user_id">
                 <label class="form-check-label" for="uName">uName</label>
                 <input class="form-check-input" type="checkbox" name="user" id="uName" value="uName">
                 <label class="form-check-label" for="phone">Phone</label>
                 <input class="form-check-input" type="checkbox" name="user" id="phone" value="phone">
                 <label class="form-check-label" for="uEmail">Email</label>
                 <input class="form-check-input" type="checkbox" name="user" id="uEmail" value="Email">
                 <label class="form-check-label" for="uAddress">uAddress</label>
                 <input class="form-check-input" type="checkbox" name="user" id="uAddress" value="uAddress">
                 <label class="form-check-label" for="city">City</label>
                 <input class="form-check-input" type="checkbox" name="user" id="city" value="city">
                 <label class="form-check-label" for="province">Province</label>
                 <input class="form-check-input" type="checkbox" name="user" id="province" value="province">
                 <label class="form-check-label" for="Postal_Code">Postal Code</label>
                 <input class="form-check-input" type="checkbox" name="user" id="Postal_Code" value="postal_code">
                 <label class="form-check-label" for="login_Id">Login ID</label>
                 <input class="form-check-input" type="checkbox" name="user" id="login_Id" value="login_id">
                 <label class="form-check-label" for="uPassword">Password</label>
                 <input class="form-check-input" type="checkbox" name="user" id="uPassword" value="uPassword">
                 <label class="form-check-label" for="balance">Balance</label>
                 <input class="form-check-input" type="checkbox" name="user" id="Balance" value="Balance">
                 <label class="form-check-label" for="Account_Type">Account Type</label>
                 <input class="form-check-input" type="checkbox" name="user" id="Account_Type" value="Account_Type">
                 <button ng-click="selUser()">Submit</button>
             </form>
     </div>
    </div>
     
    <div class="container text-center">
        <label class="form-label" for="order" style="text-decoration: underline;">Order</label>
        <br>
     <div class="form-check form-check-lg form-check-inline">
            <form>
                <label class="form-check-label" for="order_id">Order_Id</label>
                <input class="form-check-input" type="checkbox" name="order" id="order_id" value="order_id">
                <label class="form-check-label" for="Date_Issued">Date_Issued</label>
                <input class="form-check-input" type="checkbox" name="order" id="Date_Issued" value="Date_Issued">
                <label class="form-check-label" for="Date_Received">Date_Received</label>
                <input class="form-check-input" type="checkbox" name="order" id="Date_Received" value="Date_Received">
                <label class="form-check-label" for="total_Price">Total Price</label>
                <input class="form-check-input" type="checkbox" name="order" id="total_Price" value="total_price">
                <label class="form-check-label" for="payment_code">Payment Code</label>
                <input class="form-check-input" type="checkbox" name="order" id="payment_code" value="payment_code">
                <label class="form-check-label" for="user_id">User Id</label>
                <input class="form-check-input" type="checkbox" name="order" id="user_id" value="user_id">
                <label class="form-check-label" for="trip_id">Trip Id</label>
                <input class="form-check-input" type="checkbox" name="order" id="trip_id" value="trip_id">
                <label class="form-check-label" for="receipt_id">Receipt Id</label>
                <input class="form-check-input" type="checkbox" name="order" id="receipt_id" value="receipt_id">
                <button ng-click="selOrders()">Submit</button> 	
            </form>
    </div>
    </div>
    <div class="container text-center">
        <label class="form-label" for="shops" style="text-decoration: underline;">Shopping</label>
        <br>
    <div class="form-check form-check-lg form-check-inline">
            <form>
                <label class="form-check-label" for="receipt_id">Receipt Id</label>
                <input class="form-check-input" type="checkbox" name="shops" id="receipt_id" value="receipt_id">
                <label class="form-check-label" for="store_code">Store Code</label>
                <input class="form-check-input" type="checkbox" name="shops" id="store_code" value="store_code">
                <label class="form-check-label" for="total_price">Total Price</label> 	
                <input class="form-check-input" type="checkbox" name="shops" id="total_price" value="total_price">
                <button ng-click="selShopping()">Submit</button> 	
            </form>
    </div>
    </div>


<div class="container text-center">
    <label class="form-label" for="truck" style="text-decoration: underline;">Trucks</label>
    <br>
    <div class="form-check form-check-lg form-check-inline">
            <form>
                <label class="form-check-label" for="truck_id">Truck Id</label>
                <input class="form-check-input" type="checkbox" name="truck" id="truck_id" value="truck_id">
                <label class="form-check-label" for="truck_code">Truck Code</label>
                <input class="form-check-input" type="checkbox" name="truck" id="truck_code" value="truck_code">
                <label class="form-check-label" for="availability_code">Availability Code</label> 	
                <input class="form-check-input" type="checkbox" name="truck" id="availability_code" value="availability_code">
                <button ng-click="selTruck()">Submit</button> 	
            </form>
    </div>
    </div>

<div class="container text-center">
    <label class="form-label" for="trip" style="text-decoration: underline;">Trips</label>
    <br>
    <div class="form-check form-check-lg form-check-inline">
            <form>
                <label class="form-check-label" for="trip_id">Trip Id</label>
                <input class="form-check-input" type="checkbox" name="trip" id="trip_id" value="trip_id">
                <label class="form-check-label" for="source_code">Source Code</label>
                <input class="form-check-input" type="checkbox" name="trip" id="source_code" value="source_code">
                <label class="form-check-label" for="destination_code">Destination Code:</label>
                <input class="form-check-input" type="checkbox" name="trip" id="destination_code" value="destination_code">
                <label class="form-check-label" for="distance">Distance</label>
                <input class="form-check-input" type="checkbox" name="trip" id="distance" value="distance">
                <label class="form-check-label" for="truck_id">Truck Id</label>
                <input class="form-check-input"type="checkbox" name="trip" id="truck_id" value="truck_id">
                <label class="form-check-label" for="Price">Price</label> 
                <input class="form-check-input" type="checkbox" name="trip" id="Price" value="Price">	 	
                <button ng-click="selTrip()">Submit</button> 	
            </form>
    </div>
    </div>

    <div class="container text-center">
        <label class="form-label" for="item" style="text-decoration: underline;">Items</label>
        <br>
    <div class="form-check form-check-lg form-check-inline">
            <form>
                <label class="form-check-label" for="item_id">Item Id</label>
                <input class="form-check-input" type="checkbox" name="item" id="item_id" value="item_id">
                <label class="form-check-label" for="item_name">Item Name</label>
                <input class="form-check-input" type="checkbox" name="item" id="item_name" value="item_name">
                <label class="form-check-label" for="price">Price</label>
                <input class="form-check-input" type="checkbox" name="item" id="price" value="price">
                <label class="form-check-label" for="discount_price">Discount Price</label>
                <input class="form-check-input" type="checkbox" name="item" id="discount_price" value="discount_price">
                <label class="form-check-label" for="made_in">Made In</label>
                <input class="form-check-input" type="checkbox" name="item" id="made_in" value="made_in">
                <label class="form-check-label" for="department_code">Department Code</label> 
                <input class="form-check-input" type="checkbox" name="item" id="department_code" value="department_code">
                <label class="form-check-label" for="qty">Quantity</label>
                <input class="form-check-input" type="checkbox" name="item" id="qty" value="qty">
                <label class="form-check-label" for="item_img">Item Image:</label> 	 	
                <input class="form-check-input" type="checkbox" name="item" id="item_img" value="item_img"> 	
                <button ng-click="selItem()">Submit</button>
                <br> 		
            </form>
    </div>
</div>

    <div class="row align-items-center justify-content-center" id="conTable"></div>
